<!DOCTYPE html>
<html ng-controller="Todo as $ctrl" ng-app="app" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>{{$ctrl.todo.user}}'s TO DO List</title>
    <link href="/../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/../css/main.css" rel="stylesheet">
    <link href="/../css/ng-cloak.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><img class="photo" src="{{$ctrl.todo.userPhoto}}">
            {{$ctrl.todo.user}}'s To Do List
            <span class="label label-default" ng-class="$ctrl.warningLevel($ctrl.todo.items)"
                  ng-hide="$ctrl.incompleteCount($ctrl.todo.items) === 0">
					{{$ctrl.incompleteCount($ctrl.todo.items)}}
				</span>
        </h1>
    </div>
    <div class="panel">
        <form novalidate name="newTask">
            <div class="form-group">
                <label for="action">Action:</label>
                <input ng-model="$ctrl.newItem.action" id="action" name="action" class="form-control"/>
                </br>
                <label for="deadline">Deadline:</label>
                <input ng-model="$ctrl.newItem.deadline" id="deadline" name="deadline" class="form-control"/>
                </br>
                <label for="estimation">Estimation:</label>
                <input ng-model="$ctrl.newItem.estimation" id="estimation" name="estimation" class="form-control"/>
                <span class="input-group-btn">
						</span>
                </br>
                <button
                        class="btn btn-primary"
                        ng-click="$ctrl.addNewItem($ctrl.todo.items, $ctrl.newItem)">Add/Update
                </button>
            </div>
        </form>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
        </div>
        <div class="panel-body">

            <task-list></task-list>
        </div>
    </div>
</div>
<script src="vendor/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="feature/feature.module.js"></script>
<script src="feature/todo-feature/todo.module.js"></script>
<script src="feature/todo-feature/todo.controller.js"></script>
<script src="feature/todo-feature/todo.component.js"></script>
<script src="feature/todo-feature/todo.service.js"></script>
<script src="feature/todo-feature/paging/paging.module.js"></script>
<script src="feature/todo-feature/paging/paging.controller.js"></script>
<script src="feature/todo-feature/paging/paging.component.js"></script>
<script src="common/common.module.js"></script>
<script src="common/filters/common-filters.module.js"></script>
<script src="common/filters/checked-item.filter.js"></script>
<script src="common/services/common-services.module.js"></script>
<script src="common/services/ls.service.js"></script>
<script src="common/services/star.service.js"></script>
<script src="common/services/log-decorator.service.js"></script>
<script src="common/services/string-generator.service.js"></script>
<script src="common/filters/two-columns.filter.js"></script>
<script src="common/filters/pagination.filter.js"></script>

</body>
</html>
