Search term:
<input type="text" ng-model="$ctrl.searchText">

<table class="table table-striped">
    <label>
        <input type="checkbox" ng-model="$ctrl.showComplete">
        Show Complete
    </label>
    <br/>
    <div class="btn-group">
        <button class="btn-success" ng-click="$ctrl.decrementPage()">Previous</button>
        <button class="btn-success" ng-click="$ctrl.incrementPage()">Next</button>
        <lebel> Limit per page:
            <input type="text" ng-model="$ctrl.limit">
        </lebel>
    </div>
    <thead>
    <tr>
        <th ng-click="$ctrl.sortItemsReverse==false ? $ctrl.sortItemsReverse=true:$ctrl.sortItemsReverse=false">Description</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Deadline')">Deadline</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Estimation')">Estimation</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Done')">Done</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Commands')" class="text-right">Commands</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.todo.paginatedItems
    | twoColumnsFilter : $ctrl.searchText
    | checkedItems:$ctrl.showComplete
    | orderBy : 'action' :  $ctrl.sortItemsReverse ">
        <td>{{item.action}}</td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Deadline')">{{item.deadline}}</td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Estimation')">{{item.estimation}}</td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Done')">
            <input type="checkbox" ng-model="item.done">
        </td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Commands')" class="text-right">
            <button
                    ng-click="$ctrl.editItem(item, $ctrl.newItem, $ctrl.todo.items)"
                    type="button"
                    class="btn btn-primary">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"
                                          title="Edit"></span>
            </button>
            <button
                    ng-click="$ctrl.deleteItem(item, $ctrl.todo.items)"
                    type="button"
                    class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          title="Delete"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<button
        ng-click="$ctrl.deleteAllCompletedItems($ctrl.todo.items)"
        type="button"
        class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          title="Delete All Completed"></span>
    Delete All Completed
</button>
