<guitar-small-preview guitar="newGuitar"></guitar-small-preview>
<div>
    <textarea ng-model="newGuitar.name"></textarea>
    <textarea ng-model="newGuitar.src"></textarea>
    {{newGuitar.name}}
    <input type="button" value="add" ng-click="addGuitar()">
</div>

<div>
    <input ng-model="user" ng-click="addUser()" Set User>
    <br/>
    <label ng-show="age<20">{{age}}</label>
    <input type="button" value="+1" ng-click="addOne()">
    <div ng-repeat="guitar in guitars | limitTo : 4"> {{$index}}) guitar = {{guitar.name}}
        <guitar-small-preview guitar="guitar"></guitar-small-preview>
    </div>
    <a href="#" ng-click="addGuitar()">
        add
    </a>
</div>