<table class="table table-striped">
    <thead>
    <div ng-transclude>

    </div>
    <tr>
        <th ng-click="$ctrl.sortItemsReverse==false ? $ctrl.sortItemsReverse=true:$ctrl.sortItemsReverse=false">Description</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Deadline')">Deadline</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Estimation')">Estimation</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Done')">Done</th>
        <th ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Commands')" class="text-right">Commands</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.getTableItems()
    | paginationFilter : $ctrl.getPagingLimit() : $ctrl.getStartPagingFrom()
    | twoColumnsFilter : $ctrl.getSearchText()
    | checkedItems:$ctrl.getShowComplete()
    | orderBy : 'action' :  $ctrl.getSortItemsReverse()">
        <td>{{item.action}}</td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Deadline')">{{item.deadline}}</td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Estimation')">{{item.estimation}}</td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Done')">
            <input type="checkbox" ng-model="item.done">
        </td>
        <td ng-show="$ctrl.getColumnsFromLocalStorage().indexOf('Commands')" class="text-right">
            <button
                    ng-click="$ctrl.editItem(item, $ctrl.newItem, $ctrl.todo.items)"
                    type="button"
                    class="btn btn-primary">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"
                                          title="Edit"></span>
            </button>
            <button
                    ng-click="$ctrl.deleteItem(item, $ctrl.getTableItems())"
                    type="button"
                    class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          title="Delete"></span>
            </button>
        </td>
    </tr>
    </tbody>

</table>

<button
        ng-click="$ctrl.deleteAllCompletedItems($ctrl.getTableItems())"
        type="button"
        class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          title="Delete All Completed"></span>
    Delete All Completed
</button>
